/* Selector + propiedad + valor

Selector {
propiedad: valor
}
p {
  color: blue;
  /* nonbre de color, hexadecimal, rgb y rgba */
/* color: rgb(0, 0, 255);
  font-size: 25px;
  margin: 15px;
}
h1 {
  text-align: center; /* sirve para alinear 
}
text-transform: uppercase (siempre estan en may) y capitalize (primera en may)
*/

/* Reset de CSS 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box\\\\\\\\
}*/

body {
  font-family: monospace;
  font-size: 20px;
  color: black; 
  background-color: #0C2340;
  text-align: center;
  }

h1{
  font-family: monospace;
  color: whitesmoke;
  font-size: 60px;
  text-align: center;
  /* text-decoration: underline; subrayado */
  border-style: solid;
  border-color: black;
  border-width: 10px;
  border-radius: 5px;
  width:auto;
  background-color: darkslategrey;
}

  .auto{
    font-family: monospace;
    font-size: 33px;
    color: whitesmoke;
    text-align: center;
    width: fit-content;
    border-style: outset;
    border-color: black;
    border-radius: 5px;
    border-width: 10px;
    background-color:darkslategrey;
    padding: 10px;
    margin: 0 auto;
    
    
  }

  /* titulo caracteristicas */
.carac {
  font-family: monospace;
  color: whitesmoke;
  font-size: 30px;
  width:fit-content;
  border:grey 10px  ridge;
  border-width: 10px;
  background-color: darkslategray;
  padding: 5px;
  margin: 0 auto;
}

  .cont{
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5em; /* Relativo al tamaño de fuente del elemento padre ! REM es relativo al tamaño de la fuente del elemento raíz */
    color: grey;
    margin: 45px;
  }

  
  table{
     font-family: monospace;
      border-collapse: collapse; /* Une los bordes */
      margin: auto;
       background-color: whitesmoke;
  } 
  
  th{
    font-size: 30px;
    border: 5px solid;
    background-color: gray;
  }

  td{
    font-size: 25px;
    border-collapse: collapse;
    border: 5px solid;
  }

ul {
  text-align: justify;
  font-size: 25px;
  line-height: 1.5; /* interlineado */
  margin: 30px;
  color: grey;
}

.mail {
  text-align: justify;
  color: red;
  margin-left: 10x;
}

.test {
  font-family: monospace;
  color: grey;
  text-align: center;
  font-size: 28px;
}

.webs{
  font-family: monospace;
  font-size: 25px;
  color: whitesmoke;
  border: gray 6px solid;
  border-radius: 15px;
  padding: 8px;
  background-color:black;

}

.botfinal{
  font-family: monospace;
  font-size: 28px;
  background-color: gray;
  border: black 7px solid;
  border-radius: 10px;
  padding: 15px;
  margin: 50px;

}